<% if logged_in? %>
  <strong>Hello, <%= current_user.name %></strong>
<% end %>

<% @questions.each do |question| %>
<div class="card bg-light mb-3" style="max-width: 150rem;">
  <div class="card-header">      
    <h5 class="card-title"><%= question.title.capitalize %></h5>
  </div>
  <div class="card-body">
    <p class="card-text"><%= markdown(question.content) %></p>
    <p class="card-text">
    <% if question.topics.exists? %>
      <%= question.topics.pluck(:name) %>
    <% end %>
    </p>
  </div>
</div>
<% end %>
<br>