
<%= form_tag password_resets_create_path, method: :post do %>
  <div class="form-group">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "Enter email used to register" %>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="actions">
    <%= submit_tag "Reset Password", class: "btn btn-primary"%>
  </div>
<% end %>
