<% #FIXME_AB: lets move all notice, alert etc in layout. so that we don't repeat -%>

<%= form_tag password_resets_create_path, method: :post do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email], placeholder: "Enter email used to register" %>
  </div>
  <% #FIXME_AB: add hint. -%>
  <div class="actions">
    <%= submit_tag "Reset Password", class: "btn btn-primary"%>
  </div>
<% end %>
