<h3>Dear <%= @user.name %></h3>
<p>
  Click <%= link_to "here", send_token_users_url(@user.reset_token) %> to reset your password.
  <br><br>
  This link is valid for till <%= @user.reset_token_expire %>
  Kindly, ignore the mail, if you haven't requested for password changed.
  <% #FIXME_AB: ignore if you haven' request ..... -%>
</p>
