development:
  verification_token_validity_in_hours: '2'
  reset_token_validity_in_hours: '2'
  signup_credits: '5'
  default_mail: 'admin@prashna.com'
  pagination_size: '2'
  credit_for_question_post: '1'
  upvote_for_bonus_credit: '2'
  bonus_credit_on_upvotes: '1'
  reports_count_for_removal: '2'
  transaction_pagination_size: '8'
  admin_pagination_size: '8'
  public_api_requests_question_limit: '8'
  public_api_requests_time_limit: '1'
  public_api_requests_request_limit: '5'
  stripe_publishable_key: 'pk_test_51HAFWJIXM1LcFa3fgSHv9WHvMKElfcX7lJ6vuilB4nCgdlmFhEVx3MPO1qrB4g1Rg5LFMRAcR3Zx4Tz72O0w27Yw00DXMzjwyb'
  stripe_secret_key: 'sk_test_51HAFWJIXM1LcFa3fJAC7thqw6CH18UUbA9UVOBqq3EmLQ6sbrCC3zbHPiHvAVNYmGnrUo6bHLZ6SorB1x88sZT0t00BVhExy1m'

production:
  verification_token_validity_in_hours: '4'
  reset_token_validity_in_hours: '4'
  signup_credits: '5'
  default_mail: 'admin@prashna.com'
  pagination_size: '5'
  credit_for_question_post: '1'
  upvote_for_bonus_credit: '3'
  bonus_credit_on_upvotes: '1'
  reports_count_for_removal: '3'
  transaction_pagination_size: '8'
  admin_pagination_size: '8'
  public_api_requests_question_limit: '10'
  public_api_requests_time_limit: '1'
  public_api_requests_request_limit: '5'
  stripe_publishable_key: 'pk_test_51HAFWJIXM1LcFa3fgSHv9WHvMKElfcX7lJ6vuilB4nCgdlmFhEVx3MPO1qrB4g1Rg5LFMRAcR3Zx4Tz72O0w27Yw00DXMzjwyb'
  stripe_secret_key: 'sk_test_51HAFWJIXM1LcFa3fJAC7thqw6CH18UUbA9UVOBqq3EmLQ6sbrCC3zbHPiHvAVNYmGnrUo6bHLZ6SorB1x88sZT0t00BVhExy1m'
