/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";


 body {
  margin: 10;
  padding: 10;
}

header.main {
  text-align: center; // center on mobile
  @media (min-width: 30em) {
    text-align: left; // left align on desktop
  }
  margin: 0;
  h1 {
    display: none;
  }
}
.vote-comment-buttons {
    margin: 0px;
    * {
    padding: 0px;
    display: inline;
    }
}
.vote-answer-buttons {
  margin: 0px;
  * {
  padding: 0px;
  display: inline;
  }
}
.scrollable-menu {
  height: auto;
  max-height: 125px;
  overflow-x: hidden;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  div {
    margin: 10px;
  } 
}

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
  a, span, em {
    padding: 0.2em 0.5em;
  }
  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084;
  }
  a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none;
    &:hover, &:focus {
      border-color: #003366;
      background: #0063dc;
      color: white;
    }
  }
  .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
  }
  .previous_page, .next_page {
      border-width: 2px;
    }
  .previous_page {
    margin-right: 1em;
  }
  .next_page {
    margin-left: 1em;
  }
}

.content {
  margin: 0;
  padding: 0;

  display: flex;
  display: -webkit-flex;
  flex-direction: column; // mobile is horizontally laid out
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  @media (min-width: 30em) {
    //flex-direction: row;  // desktop is vertically laid out
    -webkit-box-orient: horizontal;
  }

  nav {
    padding-bottom: 1em;
    background: #141;
    text-align: center;  // mobile has centered nav
    @media (min-width: 30em) {
      text-align: left; // desktop nav is left-aligned
      padding: 1em;     // and needs more padding
    }

    #cart {
      article {
        h2 {
          margin-top: 0;
        }
        background: white;
        border-radius: 0.5em;
        margin: 1em;
        padding: 1.414em;
        @media (min-width: 30em) {
          margin: 0; // desktop doesn't need this margin
        }
      }
    }

nav.logged_in_nav {
  border-top: solid thin #bfb;
  padding: 0.354em 0;
  margin-top: 0.354em;
  input[type="submit"] {
    // Make the logout button look like a
    // link, so it matches the nav style
    background: none;
    border: none;
    color: #bfb;
    font-size: 1em;
    letter-spacing: 0.354em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  input[type="submit"]:hover {
    color: white;
  }
}    
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      @media (min-width: 30em) {
        padding-right: 1em; // give desktop some extra space
      }
      li {
        margin: 0;
        padding: 0.5em;
        text-transform: uppercase;
        letter-spacing: 0.354em;
        a {
          color: #bfb;
          text-decoration: none;
        }
        a:hover {
          background: none;
          color: white;
        }
      }
    }
  }
  main {
    padding: 0.5em;
  }
}
.depot_form {
  padding: 0 1em;
  // Also, clean up the error styling
  #error_explanation {
    background-color: white;
    border-radius: 1em;
    border: solid thin red;
    margin-bottom: 0.5em;
    padding: 0.5em;
    width: 100%;
    h2 {
      background: none;
      color: red;
      font-size: 1.41em;
      line-height: 1.41em;
      padding: 1em;
    }
    ul {
      margin-top: 0;
      li {
        color: red;
        font-size: 1em;
      }
    }
  }
  .field_with_errors {
    background: none;
    color: red;
    width: 100%;
    label {
      font-weight: bold;
    }
    label::before {
      content: "! ";
    }
    input,textarea {
      background: pink;
    }
  }
}

// log-in page's remember me cross box//

input[type="checkbox"]:before {
  width: 23px;
  height: 27px;
}

// buy button on purchase_packs page//
.card-body {
  .br-10 {
    border-radius: 10px;
  }
}

// shaking effect on bell icon //
.btn-group:hover .shake-effect {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.form-group {
.textarea-rounded {
  border-radius: 25px!important;
}
}